<div class="container">
<p id="notice"><%= notice %></p>

<h1>Groups</h1>
<button type="button" class="btn btn-secondary btn-sm">
  <%= link_to 'Create New Group', new_group_path%></button>
   <div class="row">
  <% @groups.each do |group| %>
  <div class="col=md-4">
    <div class="group-box">
      <% if group.image? %>
        <%= link_to (image_tag group.image.url, class: "group-index"), group %>
      <% end %>
      <ul>
      <li><%= group.name %></li>
      <li><%= group.experience_level %><li>
      <th><%= group.event_id %></li>
      <li><%= group.game_id %></li>
      <li><%= group.description %></li>
      <li><%= group.create_date %></li>
      
      <button type="button" class="btn btn-secondary btn-sm">
  <%= link_to 'Join Group', new_group_path%></button>
  
  <% if (user_signed_in? && (current_user.id == @group.user_id)) %>
      <%= link_to 'Show', group %>
      <%= link_to 'Edit', edit_group_path(group) %>
      <%= link_to 'Destroy', group, method: :delete, data: { confirm: 'Are you sure?' } %>
 <% end %>
      </ul>
    </div>
    <br>
    <% end %>
</div>
<br>

</div>