<div class="container">
<p id="notice"><%= notice %></p>

<h1>Groups</h1>
        <div class="group_box">
          <h3><%= link_to 'create new group', new_group_path%></h3>
        </div><!--group_box-->
  <div class="row">
  <% @groups.each do |group| %>
  <div class="group_container">
    <div class="group-box">
      <% if group.image? %>
        <%= link_to (image_tag group.image.url, class: "group-index"), group %>
      <% end %>
      <ul>
      <li><%= group.name %></li>
      <li><strong>Category: </strong><%= group.catageory %></li>
      <li><strong>Experience Level: </strong><%= group.experience_level %><li>
      <li><strong>Description: </strong><%= group.description %></li>
      
  <% if (user_signed_in?) %>  
  <p id="join"><%= link_to "Join this group", join_group_path(group) %></p>
  <%end%>
  <!-- only show these buttons if the user created the group-->
 <% if (user_signed_in? && (current_user.id == group.user_id)) %>
      <p><%= link_to 'View', group %></p>|
      <p><%= link_to 'Edit', edit_group_path(group) %></p>|
      <p><%= link_to 'Delete', group, method: :delete, data: { confirm: 'Are you sure?' } %></p>
 <% end %>
      </ul>
    </div>
  </div>
    <% end %>
</div>
</div>
</div>