<div class="container">
  <h1>Your Group</h1>
  <div class="new_group_container">
    <div class="new_group">
      <p id="notice"><%= notice %></p>
      <div class="group_info">
      <div class="image">
        <% if @group.image? %>
          <%= image_tag @group.image.url, class: "group-show" %>
        <% end %>
      </div><!--image-->
        <p>
          <strong>Name:</strong>
          <%= @group.name %>
        </p>

        <p>
          <strong>Experience level:</strong>
          <%= @group.experience_level %>
        </p>

        <p>
          <strong>User:</strong>
          <%= @group.user_id %>
        </p>
        
        <p>
          <strong>Create date:</strong>
          <%= @group.create_date %>
        </p>

        <p>
          <strong>Description:</strong>
          <%= @group.description %>
        </p>
      </div><!--group_info-->
    
         Events
        </h1>
        <% @events.each do |event| %>

        <h5>
          <ul>
          <li><%= event.name %></li>
          <li><%= event.description %></li>
          <li><%= event.start %></li>
          <li><%= event.end %></li>

        <% end %>
        </h5>


    </div><!--new_group-->
  </div><!--new_group_container-->
  <div class="edit_back">
    <%= link_to 'Edit', edit_group_path(@group) %> |
    <%= link_to 'Back', groups_path %>
  </div><!--edit_back-->
  <div class="create_event">
    <%= link_to 'Create Event', new_group_event_path(@group) %>
  </div><!--create_event-->
</div><!--container-->
