<%= Group.all.each do |each_group| %> 
<div style = "width: 400px; height: 200px; color: #ff00ff;"> 
  <%= each_group.name %>
  <%= each_group.user_id %>
  <%= link_to "Join this group", join_group_path(each_group) %>`
   <br />
</div>
<% end %>

<%= User.all.each do |each_user| %> 
<div style = "width: 400px; height: 200px; color: #ff00ff;"> 
  <%= each_user.email %> 
  <%= link_to "Join this group", join_group_path(each_user) %>`
   <br />
</div>
<% end %>