<div class="container">
<p id="notice"><%= notice %></p>

<div class="row">
<h1> My Groups </h1>
<%= Group.all.each do |each_group| %> 
<div class="group_container">
  <div class="group-box">
    <% if each_group.image? %>
        <%= link_to (image_tag each_group.image.url, class: "group-index"), each_group %>
      <% end %>
      <ul>
      <li>Name: <%= each_group.name %></li>
      <li>Category: <%= each_group.catageory %></li>
      <li>Experience Level: <%= each_group.experience_level %></li>
      <li>description: <%= each_group.description %></li>
      <li><%= link_to "Join this group", join_group_path(each_group), id: "join_this_group" %>`</li>
       <br />
     </ul>
    </div>
    <% end %>
  </div>
</div>
</div>
