<div class="container">
<p id="notice"><%= notice %></p>

<div class="row">
<h1> My Groups </h1>
<% @groups.each do |group| %>
  <div class="group_container">
    <div class="group-box">
      <% if group.image? %>
        <%= link_to (image_tag group.image.url, class: "group-index"), group %>
      <% end %>
      <ul>
      <li><%= group.name %></li>
      <Li><%= group.catageory %></Li>
      <li><%= group.experience_level %><li>
      <li><%= group.description %></li>
  </div>
   <% end %>
</div>
</div>
