<!DOCTYPE html>
<html>
  <head>
   <!-- <nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand"
    <%= link_to 'Home', welcome_index_path%></a>
    <% if user_signed_in? %>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
       
  </form>
    <span class="navbar-toggler-icon"></span>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
     <ul>
      <li><%= link_to 'My Groups', pages_my_groups_path%></li>
      <li><%= link_to 'Groups', groups_path%></li>
      <li><%= link_to 'Sign out',  destroy_user_session_path%></li>
  </div>
    <% end %>
    </nav>-->
    
    <title>tableplace</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <nav role='navigation'>
      <h1><%= link_to "tableplace", welcome_index_path %></h1> 
      <div id="menuToggle">
        <input type="checkbox" />
        <span></span>
        <span></span>
        <span></span>
        <ul id="menu">
          <a href="#"><li>my profile</li></a>
          <a href="#"><li><%= link_to "my groups", pages_my_groups_path %></li></a>
          <a href="#"><li>find friends</li></a>
          <a href="#"><li>my friends</li></a>
          <% if !user_signed_in? %>
            <a href="#"><li><%= link_to 'log in',  new_user_session_path%></li></a>
          <% end %>
          <% if user_signed_in? %>
            <a href="#"><li><%= link_to 'log out',  destroy_user_session_path%></li></a>
          <% end %>
        </ul>
      </div>
    </nav>

  <body>
    <%= yield %>
  </body>
</html>
