<!DOCTYPE html>
<html>
  <head>
    <title>tableplace</title>
    <%= csrf_meta_tags %>
    <%= csrf_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <nav role='navigation'>
      <h1><%= link_to "tableplace", welcome_index_path %></h1> 
      <div id="menuToggle">
        <input type="checkbox" />
        <span></span>
        <span></span>
        <span></span>
        <ul id="menu">
          <a href="#"><li><%= link_to "create a group", new_group_path %></a>
          <a href="#"><li><%= link_to "groups", groups_path %></a>
          <a href="#"><li><%= link_to "my profile", pages_profile_path %></a>
          <a href="#"><li><%= link_to "my groups", pages_my_groups_path %></li></a>
          <!--<a href="#"><li>find friends</li></a>
          <a href="#"><li>my friends</li></a>-->
          <% if !user_signed_in? %>
            <a href="#"><li><%= link_to 'log in',  new_user_session_path%></li></a>
            <a href="#"><li><%= link_to 'sign up',  new_user_session_path%></li></a>
          <% end %>
          <% if user_signed_in? %>
            <a href="#"><li><%= link_to 'log out',  destroy_user_session_path%></li></a>
          <% end %>
        </ul>
      </div>
    </nav>

  <body>
    <%= yield %> 
  </body>
</html>
